{% extends "base.html" %}
{% from "macros/modal.html" import modal %}
{% from "macros/alert.html" import alert %}
{% block title %}Profile{% endblock %}
{% block content %}
    <main id="main-content" class="profile-page">
        <section class="profile-info">
            <h2>Personal Information</h2>
            <div class="profile-info-item">
                <span class="profile-info-item-label">Username:</span>
                <span class="profile-info-item-value">{{ user.username }}</span>
            </div>
            <div class="profile-info-item">
                <span class="profile-info-item-label">Email:</span>
                <span class="profile-info-item-value">
                    {{ user.email }}
                    <span class="profile-email-status">
                        {% if user.email_verified == True %}
                            <i class="fa-solid fa-circle-check success" aria-hidden="true"></i>
                            <span class="visually-hidden">Verified</span>
                        {% else %}
                            <i class="fa-solid fa-circle-xmark error" aria-hidden="true"></i>
                            <span class="visually-hidden">Not verified</span>
                        {% endif %}
                    </span>
                </span>
            </div>
            <div class="profile-info-item">
                <span class="profile-info-item-label">Joined:</span>
                <span class="profile-info-item-value">{{ user.created_at.strftime("%B %d, %Y") }}</span>
            </div>
        </section>
        {% if user.email_verified != True %}
            <section class="profile-email-verification">
                {% call alert('Email not verified', 'Please verify your email to continue.', 'error') %}
                    <a href="" class="alert-action-btn">Verify</a>
                {% endcall %}
            </section>
        {% endif %}
        <section class="profile-actions">
            <a href="{{ url_for('auth.edit_profile') }}"
               class="base-button primary"
               aria-label="Edit profile">Edit profile</a>
            <a href="{{ url_for('auth.change_password') }}"
               class="base-button secondary"
               aria-label="Change Password">Change Password</a>
        </section>
        <section class="profile-footer">
            {% if user.is_authenticated %}
                <button type="button"
                        class="center-items modal-trigger base-button link"
                        data-modal="logoutModal"
                        aria-label="Logout">Logout</button>
            {% endif %}
        </section>
        {{ modal('logoutModal', 'Logout', 'Are you sure you want to logout?', confirm_action='logout') }}
    </main>
{% endblock %}
