.error-msg {
    color: var(--clr-error);
}

.form-wrapper {
    width: 90%;
    max-width: 600px;
    margin: 1em auto;
    padding: 1em 3em;
    border-radius: 12px;
    background-color: var(--clr-secondary);
}

.form-wrapper h1 {
    font-weight: 600;
    text-align: center;
    margin-bottom: var(--spacing-m);
}

.form-wrapper a {
    color: var(--clr-ternary);
}

/* .list-item {
    display: flex;
    gap: 1em;
} */

.form-control {
    margin-bottom: var(--spacing-l);
}

.form-control.is-invalid li {
    color: var(--clr-error);
}

.form-control.is-invalid input {
    border-bottom: 1px solid var(--clr-error);
}

.form-wrapper form input {
    width: 100%;
    border: none;
    border-bottom: 1px dotted var(--clr-dark);
    padding: var(--padding-m);
    background-color: transparent;
}

.form-wrapper form input:focus {
    border-bottom: 1px solid var(--clr-dark);
    outline: none;
}

.form-wrapper form button {
    width: 100%;
    background-color: var(--clr-ternary);
    color: var(--clr-primary);
    border: none;
    margin-top:1em;
    padding: .5em 1em;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .5s;
}

.form-wrapper form button:hover {
    background-color: var(--clr-dark);
}

.hidden-form {
    display: none;
}

.note-form-wrapper form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

.note-form-wrapper form input, .note-form-wrapper form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px dotted var(--clr-dark);
    outline: none;
    border-radius: var(--border-radius);
    background-color: transparent;
    font-size: 1em;
}

.note-form-wrapper form input.note-title {
    font-size: 1.2em;
    padding: var(--padding-l);
    padding-bottom: var(--padding-m);
    font-family: var(--font-basic);
    letter-spacing: 1px;
    color: var(--clr-dark);
}

.note-form-wrapper form textarea.note-content {
    font-size: 1em;
    font-family: var(--font-basic);
    color: var(--clr-dark);
    field-sizing: content;
    padding-bottom: var(--padding-m);
}

.note-action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-l);
    margin-top: var(--spacing-m);
}

.note-action-buttons button {
    color: var(--clr-grey);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    transition: .3s;
}

.note-action-buttons button:hover i {
    transform: scale(1.1);
}

.note-action-buttons button.edit-btn:hover {
    color: var(--clr-quaternary);
}
.note-action-buttons button.save-btn:hover {
    color: var(--clr-ternary);
}
.note-action-buttons button.delete-btn:hover,
.note-action-buttons button.cancel-btn:hover {
    color: var(--clr-error);
}
