header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    background-color: var(--clr-dark);
    color: var(--clr-primary);
    z-index: 1;
}

#logo {
    height: 99%;
    position: relative;
    font-family: var(--font-decorative);
    font-style: italic;
    letter-spacing: 3px;
    padding: 0 1em;
    border-bottom: 1px solid var(--clr-primary);
}

#logo > i {
    position: absolute;
    right: -1.3em;
    bottom: 0;
    font-size: 1.7em;
    opacity: .7;
}

#auth-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#auth-nav i {
    font-size: 1.2em;
}

#auth-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#auth-nav a:hover {
    color: var(--clr-ternary);
}

#auth-nav a:focus {
    color: var(--clr-ternary);
    outline: 1px solid var(--clr-ternary);
}

#options-nav {
    position: absolute;
    bottom: var(--spacing-xl);
    right: var(--spacing-l);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#options-nav i {
    font-size: 1.3em;
    font-weight: bold;
}

#options-toggler {
    width: 50px;
    aspect-ratio: 1/1;
    margin-right: 2em;
    border-radius: 50%;
    cursor: pointer;
    color: var(--clr-primary);
    background-color: var(--clr-ternary);
    transition: .5s;
    border: none;
    font-weight: bold;
}

#options-toggler:hover,
#options-toggler:focus {
    background-color: var(--clr-ternary);
}

#options-toggler[aria-expanded="true"] {
    transform: rotate(45deg);
    background-color: var(--clr-error-bg);
}

#options {
    display: none;
    position: absolute;
    right: 0;
    bottom: 120%;
}

#options.options-opening {
    animation: fadeIn 0.5s ease-in-out forwards;
}

#options.options-closing {
    animation: fadeOut 0.5s ease-in-out forwards;
}

#options button {
    background-color: var(--clr-quaternary);
    color: var(--clr-primary);
    border: none;
    cursor: pointer;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: var(--spacing-xl);
    margin-bottom: var(--spacing-l);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    30% {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    40% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}