.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-m);
}

.profile-page h2 {
    margin-bottom: var(--spacing-m);
}

.profile-info-item {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: var(--spacing-m);
}

.profile-page span {
    font-size: 1.2rem;
}

.profile-actions > *{
    margin-bottom: var(--spacing-m);
}