.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: visible;
}

.tooltip-box {
    visibility: hidden;
    position: absolute;
    bottom: 110%;
    left: 20%;
    transform: translateX(-50%);
    background-color: var(--clr-dark);
    color: var(--clr-primary);
    padding: var(--spacing-s) var(--spacing-m);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    text-wrap: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-box.bottom {
    top: 120%;
}

.tooltip-box.left {
    top: 50%;
    left: calc(-100% - var(--spacing-s));    
    transform: translateY(-50%);
}

.tooltip-box.right {
    top: 50%;
    left: calc(100% + var(--spacing-s));    
    transform: translateY(-50%);
}

.tooltip-box.light {
    background-color: var(--clr-secondary);
    color: var(--clr-dark);
}

.tooltip-container:hover .tooltip-box,
.tooltip-container:focus-within .tooltip-box {
    visibility: visible;
    opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
    .tooltip-box {
        transition: none;
    }
}
