/* --------------------------- Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,600;0,1000;1,200;1,300;1,400;1,600&family=Shadows+Into+Light&display=swap');

/* --------------------------- Import variables */
@import url('vars.css');

/* --------------------------- Import modules */
@import url('modules/flash-messages.css');
@import url('modules/header.css');

/* --------------------------- General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}
 
body {
    background-color: var(--clr-primary);
    color: var(--clr-dark);
    font-family: var(--font-basic);
    min-height: 100vh;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lg-only {
    display: block;
}

/* --------------------------- Notes dashboard */

main {
    width: 90%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.note {
    position: relative;
    max-width: 400px;
    padding: 1em;
    background-color: var(--clr-light);
    isolation: isolate;
}

.note > * {
    padding-block: .5em;
}

.note > h2 {
    font-family: var(--font-decorative);
    font-weight: 500;
    letter-spacing: 2px;
}

.note-footer {
    display: flex;
    border-top: 1px dotted var(--clr-dark);
}

.note-footer > span {
    margin-right: auto;
}

.note-footer > button {
    background-color: transparent;
    color: var(--clr-ternary);
    border: none;
    font-size: 1.2em;
    margin-left: 1em;
    cursor: pointer;
}

.note::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 16px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 0.2);
    z-index: -1;
}

.note::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: var(--clr-ternary) var(--clr-primary);
    box-shadow: -3px 3px 3px rgb(0 0 0 / 0.2);
  }


/* --------------------------- Forms */

#errorMsg {
    color: var(--clr-error);
}

.form-wrapper {
    width: 90%;
    max-width: 600px;
    margin: 1em auto;
    padding: 1em 3em;
    border-radius: 12px;
    background-color: var(--clr-secondary);
}

.form-wrapper h1 {
    font-weight: 600;
    text-align: center;
    margin-bottom: var(--spacing-m);
}

.form-wrapper a {
    color: var(--clr-ternary);
}

.list-item {
    display: flex;
    gap: 1em;
}

.form-control {
    margin-bottom: var(--spacing-l);
}

.form-control.is-invalid li {
    color: var(--clr-error);
}

.form-control.is-invalid input {
    border-bottom: 1px solid var(--clr-error);
}

form input {
    width: 100%;
    border: none;
    border-bottom: 1px dotted var(--clr-dark);
    padding: var(--padding-m);
    background-color: transparent;
}

form input:focus {
    border-bottom: 1px solid var(--clr-dark);
    outline: none;
}

form button {
    width: 100%;
    background-color: var(--clr-ternary);
    color: var(--clr-primary);
    border: none;
    margin-top:1em;
    padding: .5em 1em;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .5s;
}

form button:hover {
    background-color: var(--clr-dark);
}

/* --------------------------- Media queries */

@media screen and (max-width: 400px) {

    main {
        grid-template-columns: 1fr;
    }
    #logo {
        font-size: .9em;
    }
    #options-toggler {
        margin-right: 1em;
    }
    #options {
        width: 100%;
    }
    .lg-only {
        display: none;
    }
    .form-wrapper {
        padding: 1em;
    }
}
