/* --------------------------- Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,600;0,1000;1,200;1,300;1,400;1,600&family=Shadows+Into+Light&display=swap');

/* --------------------------- General */

:root {
    --clr-primary: rgb(248, 247, 243);
    --clr-secondary: rgb(238, 237, 229);
    --clr-ternary: rgb(0, 145, 121);
    --clr-dark: rgb(59, 58, 55);
    --clr-light: rgb(190, 225, 218);

    --font-basic: 'Mulish', sans-serif;
    --font-decorative: 'Shadows Into Light', cursive;

    --spacing-s: 4px;
    --spacing-m: 8px;
    --spacing-l: 16px;
    --spacing-xl: 32px;

    --padding-s: 4px;
    --padding-m: 8px;
    --padding-l: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}
 
body {
    background-color: var(--clr-primary);
    color: var(--clr-dark);
    font-family: var(--font-basic);
    min-height: 100vh;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------- Header */

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    background-color: var(--clr-dark);
    color: var(--clr-primary);
    z-index: 1;
}

#logo {
    height: 99%;
    position: relative;
    font-family: var(--font-decorative);
    font-style: italic;
    letter-spacing: 3px;
    padding: 0 1em;
    border-bottom: 1px solid var(--clr-primary);
}

#logo > i {
    position: absolute;
    right: -1.3em;
    bottom: 0;
    font-size: 1.7em;
    opacity: .7;
}

#options-toggler {
    width: 35px;
    aspect-ratio: 1/1;
    margin-right: 2em;
    border: 2px solid var(--clr-ternary);
    border-radius: 50%;
    cursor: pointer;
    color: var(--clr-primary);
    background-color: inherit;
    transition: .5s;
}

#options-toggler:hover,
#options-toggler:focus {
    background-color: var(--clr-ternary);
}

#options-toggler[aria-expanded="true"] {
    transform: rotate(45deg);
}

#options {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
}

nav a {
    position: relative;
    font-weight: bold;
    padding: 1em 2em;
    background-color: transparent;
    isolation: isolate;
}

nav a::before,
nav a::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--clr-dark);
    z-index: -1;
    transition: .5s;
}

nav a::after {
    width: 0;
    background-color: var(--clr-ternary);
}

nav a:hover::after {
    width: 100%;
}


/* --------------------------- Notes dashboard */

main {
    width: 90%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.note {
    position: relative;
    max-width: 400px;
    padding: 1em;
    background-color: var(--clr-light);
    isolation: isolate;
}

.note > * {
    padding-block: .5em;
}

.note > h2 {
    font-family: var(--font-decorative);
    font-weight: 500;
    letter-spacing: 2px;
}

.note-footer {
    display: flex;
    border-top: 1px dotted var(--clr-dark);
}

.note-footer > span {
    margin-right: auto;
}

.note-footer > button {
    background-color: transparent;
    color: var(--clr-ternary);
    border: none;
    font-size: 1.2em;
    margin-left: 1em;
    cursor: pointer;
}

.note::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 16px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 0.2);
    z-index: -1;
}

.note::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: var(--clr-ternary) var(--clr-primary);
    box-shadow: -3px 3px 3px rgb(0 0 0 / 0.2);
  }


/* --------------------------- Forms */

#errorMsg {
    color: red;
}

.form-wrapper {
    width: 90%;
    max-width: 600px;
    margin: 1em auto;
    padding: 1em 3em;
    border-radius: 12px;
    background-color: var(--clr-secondary);
}

.form-wrapper h1 {
    font-weight: 600;
    text-align: center;
    margin-bottom: var(--spacing-m);
}

.form-wrapper a {
    color: var(--clr-ternary);
}

.list-item {
    display: flex;
    gap: 1em;
}

form input {
    width: 100%;
    margin-bottom: var(--spacing-l);
    border: none;
    border-bottom: 1px dotted var(--clr-dark);
    padding: var(--padding-m);
    background-color: transparent;
}

form input:focus {
    border-bottom: 1px solid var(--clr-dark);
    outline: none;
}

form button {
    width: 100%;
    background-color: var(--clr-ternary);
    color: var(--clr-primary);
    border: none;
    margin-top:1em;
    padding: .5em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .5s;
}

form button:hover {
    background-color: var(--clr-dark);
}

/* --------------------------- Media queries */

@media screen and (max-width: 400px) {

    main {
        grid-template-columns: 1fr;
    }
    #logo {
        font-size: .9em;
    }
    #options-toggler {
        margin-right: 1em;
    }
    #options {
        width: 100%;
    }
    .form-wrapper {
        padding: 1em;
    }
}
