/* --------------------------- Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,600;0,1000;1,200;1,300;1,400;1,600&family=Shadows+Into+Light&display=swap');

/* --------------------------- Import variables */
@import url('vars.css');

/* --------------------------- Import modules */
@import url('modules/flash-messages.css');
@import url('modules/header.css');
@import url('modules/forms.css');

/* --------------------------- General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}
 
body {
    background-color: var(--clr-primary);
    color: var(--clr-dark);
    font-family: var(--font-basic);
    min-height: 100vh;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lg-only {
    display: block;
}

.notes-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing-l);
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: visible;
}

.tooltip-box {
    visibility: hidden;
    position: absolute;
    bottom: 110%;
    left: 20%;
    transform: translateX(-50%);
    background-color: var(--clr-dark);
    color: var(--clr-primary);
    padding: var(--spacing-s) var(--spacing-m);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    text-wrap: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-box.bottom {
    top: 120%;
}

.tooltip-container:hover .tooltip-box {
    visibility: visible;
    opacity: 1;
}


/* --------------------------- Notes dashboard */

main {
    width: 90%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.note {
    position: relative;
    max-width: 400px;
    padding: 1em;
    background-color: var(--clr-light);
    isolation: isolate;
    height: fit-content;
}

.note > * {
    padding-block: .5em;
}

.note > h2 {
    font-family: var(--font-decorative);
    font-weight: 500;
    letter-spacing: 2px;
}

.note-footer {
    display: flex;
    border-top: 1px dotted var(--clr-dark);
}

.note-footer > span {
    margin-right: auto;
    opacity: 0.6;
}

.note::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 16px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 0.2);
    z-index: -1;
}

.note::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: var(--clr-ternary) var(--clr-primary);
    box-shadow: -3px 3px 3px rgb(0 0 0 / 0.2);
  }

/* --------------------------- Media queries */

@media screen and (max-width: 400px) {

    main {
        grid-template-columns: 1fr;
    }
    #logo {
        font-size: .9em;
    }
    #options-toggler {
        margin-right: 1em;
    }
    #options {
        width: 100%;
    }
    .notes-list {
        grid-template-columns: 1fr;
    }
    .lg-only {
        display: none;
    }
    .form-wrapper {
        padding: 1em;
    }
}
