{% from "macros/tooltip.html" import tooltip %}
{% macro noteActions(note, csrf_token, dashboard) %}
    <span class="note-actions-created-at">{{ note.created_at if note else "" }}</span>
    <div class="note-action-buttons">
        {{ tooltip('<button type="button"
            class="delete-btn modal-trigger"
            data-modal="deleteNoteModal"
            data-form-action="' ~ url_for('notes.delete', dashboard_id=dashboard.id, slug=dashboard.slug, note_id=note.id) ~ '"
            aria-label="delete">
            <i class="fa-solid fa-trash-can"></i>
            </button>', 'Delete', 'bottom') }}
    {{ tooltip('<button type="button" class="edit-btn" aria-label="edit"><i class="fa-solid fa-pencil"></i></button>', 'Edit', 'bottom') }}
    </div>
{% endmacro %}
