<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="A web app for your notes">
    <meta name="keywords" content="notes todo">
    <meta name="author" content="Elisa Sacchelli">
    <title>My Notes</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <ul>
        <li>
            <a href="{{ url_for('index') }}">Dashboard</a>
        </li>
        <li>
            <a href="{{ url_for('add') }}">Add</a>
        </li>
    </ul>

    {% block content %}
    {% endblock %}

</body>
</html>