{% from "components/noteWrapper.html" import note_wrapper %}
{% from "components/noNotesNote.html" import noNotesNote %}
{% from "components/noteWithForm.html" import noteWithForm %}
{% from "form/noteForm.html" import noteForm %}

{% extends "base.html" %}

{% block content %}
    
<main>

    {% if not notes %}
        {{ noNotesNote() }}
    {% else %}
        {% for note in notes %}
            {{ note_wrapper(note) }}
        {% endfor %}
    {% endif %}

    {{ noteWithForm({
        "Title": "",
        "Form": noteForm("addNew")
    })
}}


</main>
{% endblock %}
