
{% extends "base.html" %}

{% block content %}
    
<main>

    {% if notes == None %}
        <h1> No notes yet</h1>
    {% else %}
        {% for note in notes %}

            <div class="note">
                <h2 class="note-title">
                    {{ note.Title }}
                </h2>
                <div class="note-body">
                {% if note.List == True %}    
                    {% for item in note.Content %}                  
                    <p>{{ item.checked }}</br>
                    {{ item.content }}</p>
                    {% endfor %}
                {% else %}
                    <p>{{ note.Content[0].content }}</p>
                {% endif %}
                </div>
                <div class="note-footer">
                    <span>{{ note.CreatedAt }}</span>
                    <button class="edit-btn" aria-label="edit"><i class="fa-solid fa-pencil"></i></button>
                    <button class="delete-btn" aria-label="delete"><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </div>
        {% else %}
        <div class="note">
            <h2 class="note-title">
                No notes yet
            </h2>
            <div class="note-body">
                <p>Please add a new note</p>
            </div>
        </div>

      {% endfor %}
    {% endif %}

</main>
{% endblock %}
