{% from "notes/components/noteFormActions.html" import noteFormActions %}
{% macro noteForm(action, csrf_token, note=None) %}
{% set title_value = note.Title if note else "" %}
{% set content_value = note.Content[0].content if note and note.Content else "" %}
<div class="note-form-wrapper">

    <form class="note-form" action="{{action}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" required>
        
        <p class="error-msg"></p>
        <input label="title" type="text" name="title" class="note-title" placeholder="Add a new note" value="{{ title_value }}"><br>
        <textarea 
        name="content" 
        class="note-content" 
        placeholder="Type something..."
        maxlength="255"
        >{{ content_value }}</textarea>

        {{ noteFormActions() }}
    </form>
</div>
{% endmacro %}
