{% from "notes/noteWrapper.html" import noteWrapper %}
{% from "notes/noNotesNote.html" import noNotesNote %}
{% from "notes/noteWithForm.html" import noteWithForm %}
{% from "notes/noteWithContent.html" import noteWithContent %}

{% from "form/noteForm.html" import noteForm %}

{% extends "base.html" %}

{% block content %}
    
<main>

    {% if not notes %}
        {{ noNotesNote() }}
    {% else %}
        {% for note in notes %}
        <div class="note-slot" data-note-id="{{ note.id }}">
            <div class="note-view">
                {{ noteWithContent(note, csrf_token) }}
            </div>
            <div class="note-edit hidden-form">
                {{ noteWithForm({
                    "Form": noteForm(
                        url_for("notes.edit_note", note_id=note.id),
                        csrf_token,
                        note
                    )
                }) }}
            </div>
        </div>
        {% endfor %}
    {% endif %}

    <div id="addNoteForm" class="hidden-form">
        {{ noteWithForm({
            "Title": "",
            "Form": noteForm(url_for("notes.add_note"), csrf_token)
            })
        }}
    </div>

</main>
{% endblock %}
